<div class="album py-5 ">
    <div class="container">
        <div class=" mb-3">
            <form class="search-form  g-3" id="search-form">
                <div class="input-group mb-3">
                    <input class="form-control" type="text" name="searchQuery" autocomplete="off"
                        placeholder="Search images.." />
                    <button type="submit" class="btn btn-primary ">Search</button>
                </div>
            </form>
        </div>
        <div class="gallery row gap-2 ">

        </div>
        <div class="d-grid gap-2 col-4 mx-auto mt-3 text-center ">
            <p class="load-more-wrapper"></p>
            <button type="button" class="load-more btn btn-primary mb-2 ">Load more</button>
        </div>
    </div>
</div>
<div class="backdrop">
    <div class="loader"></div>
</div>